
a.icon {
    text-decoration: none;
    //color: inherit;
}

.window {
    resize: both;
    overflow: auto;
    font-family: monospace;
    //width: 30em;
    background: #e3e3ea;
    //border: 1pt solid black;
    //border-radius: 4pt;
    margin: 4pt;
    display: inline-block;
}

.windowTitle {
    background: #c3c3ca;
    padding: 4pt;
}

.windowContents {
    padding: 4pt;
}

.parameters dl {
    padding: 4pt;
}

.parameterStruct {
    //border: 1px solid navy;
    font-family: monospace;
}

.parameterStructLabel {
    font-weight:bold;
}

.parameterFieldLabel {
}

.parameterFieldInput {
    //background: white;
}
